* {
    margin: 0;
    padding: 0;
}

.wrapper {
    margin: 0 auto;
    width: 100%;

}

.navbar {
    margin-left: 200px;
    font-size: large;
    position: fixed;
    top: 0;
    width: 100%;  
}

.navbar a {
    float: left;
    display: block;
    color: #474545;
    text-align: center;
    opacity: 80%;
    padding: 50px 30px;
    text-decoration: none;
  }
  
  .navbar :hover {
    color: #ee0d20;
  }
  
 
  .home-button {
      width: 100px;
  }